<h1>{{name}}</h1>

<ul>
  <li>Attack: {{attack}}</li>
  <li>Defense: {{defense}}</li>
  <li>Evolve Level: {{evolveLevel}}</li>
  <li>Evolve To: {{evolveTo}}</li>
  <li>Type: {{type}}</li>
  <li>Curve: {{curve}}</li>
  <li>Moves: {{moves}}</li>
</ul>
