<main>
  {{#each articles}}
    <div class="article">
<<<<<<< HEAD
      <h3>{{title}}</h3>
      <span>{{author}}</span>
      <p>{{description}}</p>
    </div>
    {{/each}}
=======
      <h3>{{ title }}</h3>
      <span>{{ author }}</span>
      <p>{{ description }}</p>
    </div>
  {{/each}}
>>>>>>> 86bdae2106f563dd4d24d0964e09ffd52c293d38
</main>
